﻿@charset "utf-8";
/* CSS Document */

body {
    /*background-image: url();*/
    /*background-repeat: repeat;*/
}

header {
    display: block;
    height: 100px;
}

div.header-inner {
    position: relative;
    height: 50px;
}

div.header-inner div.logo {
    float: left;
    width: 100%;
    height: 50px;
    outline: 1px solid black; 
}

div.header-inner div.logo p.logo-pic {
    display: block;
    float: left;
    top: 100px;
}

div.header-inner div.logo p.logo-text {
    display: block;
    position: relative;
    left: 150px;
    font-size: 50px;
    font-weight:bold;
    color: 000033;
}

nav {
    display: block;
    position: absolute;
    height: 40px;
    /*outline:1px solid red;*/
    left: 190px;
    top: 150px;
    /*top: 175px;*/
    margin-left: 0px;
    background-color: FFFFFF;
    /*z-index: 1;*/
}

nav ul.menu {
    clear: both;
    height: 0px;
    left: 0px;
    display: block;
    position: relative;
}

nav ul.menu li.menu-item {
    display: block;
    float: left;
    margin-top: -12px;
}

nav ul.menu li.menu-item a {
    display: block;
    float: left;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

nav ul.menu li.menu-item a:link {
    text-decoration: none;
    color: 3300CC;
}

nav ul.menu li.menu-item a:hover {
    border: 0px blue solid;
    /*font-weight: bold;*/
    /*font-size: 16px;*/
    background-color: 00CCFF;
}

nav ul.menu li.menu-item a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: 990033;
} 

nav ul.menu li.menu-item {
    display: block;
    float: left;
    margin-top: -12px;
}

nav ul.menu ul.submenu {
    display: none;
}

nav ul.menu ul.submenu li.submenu-item {
    display: none;
}