div.topas{
	display:block;
	position:relative;
  	width:100%;
  	height:379px;
	background-color:#E0DED9;
}
.gqs{
	position:relative;
	width:100%;
	padding:48px 0px;
}
div.article_list{
	position:relative;
	padding: 38px 127px 10px 38px;
}
div.article_list  div.article{
	height:40px;
}
div.article_list li div.article  a:link,div.article_list li div.article  a:visited{
	font-weight:600;
	color: #171717;
}
div.article_list li div.article  a:hover{
	font-weight:600;
	color:red;
}
div.article_list  div.article div.article_title{
	float:left;
}
div.article_list  div.article div.article_time{
	float:right;
}
div.article_page {
  	margin: 0px 0px 15px 293px;
}