html,body,h1,h2,h3,h4,h5,h6,div,span,ul,li,form{
	border=0px;
	padding:0px;
	font-size:100%;
	margin:0px;
	font-weight:normal;
	font-family:verdana, arial, sans-serif;
}
html a:link,html a:visited,html a:hover,a:active{
	text-decoration: none;
}
html,body{
	width: 100%;
  	background-color: #31373E;
}
#containers{
	width:1349px;
	left:0px;
	right:0px;
	margin:0 auto;
}

header{
	width:100%;
	height:190px;
}
div.data{
	width:90%;
	height:100%;
	margin:0 auto;
	background-color: #404040;
}

div.content{
	height:131px;
	background-color: #404040;
}

div.logo{
	float: left;
    width: 76%;
    height: 100%;
}
.logo h1{
	font-size:40px;
	padding:26px 0px 0px 43px;
}
.logo h2{
	font-size:28px;
	padding:0px 0px 0px 46px;
}
.logo h1 a:link,.logo h1 a:visited,.logo h2 a:link,.logo h2 a:visited{
	color:#fff;
}
div.search{
    float: right;
    width: 24%;
    height: 100%;
}
form{
	margin-top: 66px;
}
input.int{
	float: left;
    background: #5f5f5f;
    border: 0;
    font-size: 100%;
    padding: 12px 0px 12px 14px;
}
input.inp{
	float:left;
	height:42px;
	width:50px;
	cursor: pointer;
	background: url(./images/search.png) no-repeat 50% 50% #2D3133;
	border:0;
}
div.top{
	height:59px;
	background:#5f5f5f;
}
 .top ul li a:link,.top ul li a:visited{
	color:#fff;
}
ul,li{
	list-style-type:none;
}
ul.menu{
	width:90%;
	height:100%;
	margin:0px 60px;
}
li.menu-item{
	width:16.6%;
	float:left;
	height:59px;
	position:relative;
	z-index:1;
}
li.menu-item a{
	display:block;
	font-size:21px;	
	padding:15px 40px ;

}
ul.submenu{
	display:none;
	position:relative;
	background:#2F2F2F;
	width: 100%;
}
ul.submenu li.submenu-item a:hover{
	background:#5f5f5f;
	width:56%;
}
li.menu-item a:hover{
	color:#fff;
	background:#2F2F2F;
}
li.menu-item:hover ul{
	display:block;
}
li.menu-item:hover{
	background-color:#2F2F2F;
}
.page{
	height:400px;
	width:100%;
}
.inpage{
	width:90%;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}
#show {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
#show a {
	float: left;
	display: inline;
}
#show .img {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#show .img span {
	position: absolute;
	width: 19999px;
	display: block
}
#show .img span img{
	height:400px;
	float:left;
}
#show .btns {
	z-index: 10;
	position: absolute;
}
#show .btns b{
	position: absolute;
	width: 100px;
	display: block;
	height: 14px;
	overflow: hidden;
	top: 370px;
	left: 569px;
}
#show .btns b i{
	width: 10px;
	background: #414140;
	float: left;
	height: 10px;
	font-size: 0px;
	overflow: hidden;
	cursor: pointer;
	margin-right: 6px;
	border: #414140 2px solid;
	border-radius: 7px;
}
#show .btns b i:hover {
	background: #a7a7a6
}
#show .btns b i.on {
	background: #3cd2f1;
	cursor: default
}
#show .btns b i.on:hover {
	background: #3cd2f1;
	cursor: default
}
#show .btns s.prev {
	position: absolute;
	width: 80px;
	height: 80px;
	overflow: hidden;
	top: 130px;
	cursor: pointer
}
#show .btns s.next {
	position: absolute;
	left: 1134px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	top: 130px;
	cursor: pointer
}
#show .btns s i{
	position: absolute;
	width: 80px;
	height: 80px;
	opacity:0.3;
}
#show .btns s i:hover{
	opacity:1;
}
#show .btns s.prev i{
	background: url(images/last1.png) no-repeat -30% -15%;
}
#show .btns s.next i{
	background: url(images/next1.png) no-repeat 126% -15%;
}
.container{
	width:100%;
	height:1789px;
}
.fu{
	position:relative;
	width:90%;
	height:100%;
	margin:0 auto;
}
.odd{
	display:block;
	position:relative;
  	width:100%;
  	height:470px;
	background-color:#F3F1EC;
}
.topa{
	display:block;
	position:relative;
  	width:100%;
  	height:470px;
	background-color:#E0DED9;
}
.gq{
	position:absolute;
	width:100%;
	margin:48px 0px 48px 0px;
	height:352px;
}
.title{
	width:100%;
	height:36px;
	margin-bottom:20px;
}
.title .more:before{
	content:"|";
	color:#e0ded9;
}
.title a:link,.title a:visited{
	color:#3277ae;
}
.list li{
	float:left;
	width:23.3%;
	height:276px;
	padding: 0px 10px 0px 10px;
}
.list li img{
	width:100%;
	height:100%;
}
.list a:link,.list a:visited{
	color:#000;
	font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:20px;
}
.title span{
	font-size:36px;
	line-height: 32px;
	font-weight:900;
	margin-left:20px;
}
footer{
	height:235px;
	width:100%;
	overflow: hidden;
}
div.footer{
	margin:0 auto;
	width:85.4%;
	height:202px;
	padding:18px 31px;
	background-color:#404040;
	overflow: hidden;
}
div.ref{
	float:left;
	width:33%;
	height:100%;
}
div.df{
	width:100%;
	height:100%;
}
div.foot{
	width:90%;
	height:100%;
	padding-left:100px;
}
div.foot h3{
	color:#fff;
	font-size:27px;
}
div.foot div.share-list{
	height:146px;
	width:100%;
}
div.foot div.share-list ul a:link,div.foot div.share-list ul a:visited,div.foot div.share-list ul a:link,div.foot div.share-list ul li a:visited{
	color:#fff;
}
div.foot div.share-list ul{
	margin-top:17px;
	height:148px;
	width:100%;
}
div.foot div.share-list ul li{
	font-size:18px;
	margin-bottom:10px;
}
div.copyright{
	color: #fff;
  	width: 58%;
  	height: 10px;
  	position: relative;
  	left: 261px;
  	top: -13px;
}
