div.lists{
	width:90%;
	margin:0 auto;
	background-color: #ffffff;
}
div.right{
	position: relative;
  	float: right;
  	width: 26%;
  	background-color: #f3f1ee;
}
div.lists div.right ul{
  	width: 100%;
  	background-color: #f3f1ee;
}
div.lists div.right p{
	margin: 15px 0px 0px 20px;
  	font-size: 29px;
  	font-weight: 600;
  	text-align: left;
  	background-color: #f3f1ee;
}
div.lists div.right ul li{
	margin:20px 37px 20px 25px;
	text-align:left;
	border-bottom:1px solid #e0ded9;
}
div.lists div.right ul li a:link,div.lists div.right ul li a:visited{
   color:#333333;
   font-size:26px;
}
div.lists  div.left{
	float:left;
	width:74%;
	background-color: #ffffff;
}
div.lists  div.leftsub{
	padding: 10px 30px;
}

div.lists div.left div.site{
	width:100%;
	height:45px;
	font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
}
div.lists div.left div.site span.seat{
	float:left;
  	margin-right: 14px;
  	line-height: 60px;
  	font-weight: 100;
  	font-size: 19px;
}
div.lists div.left div.site span.seat a:link,div.lists div.left div.site span.seat a:visited{
	color:#529dd3;
}
div.article-title {
	float:left;
	width:100%;
	height:50px;
}
div.article-title h1{
	font-size: 3.125em;
  	font-weight: 900;
  	line-height: 53px;
  	font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
  	color:#333333;
}
div.article-info span{
	line-height:50px;
}
div.artitle-view{
	height:67%;
}
div.article-page{
	margin: 15px 0px;
    padding: 20px 0px;
}
div.article-page div.before{
	float:left;
	background: url(images/last.png) no-repeat left 50%;
	width:50%;
	text-align:left;
}
div.article-page div.after{
	float:right;
	background: url(images/next.png) no-repeat right 50%;
	width:50%;
	text-align:right;
}
div.article-page div.before span.read_before{
	color: #3277ae;
	padding-left:20px;
}
div.article-page div.after span.read_after{
	color: #3277ae;
	padding-right:20px
}
div.article-page span.read_before:link,div.article-page span.read_before:visited,div.article-page span.read_after:link,div.article-page span.read_after:visited{
	color: #3277ae;
}