div.article_list{
	position:relative;
	width:100%;
	padding-top:70px;
}
div.article_list ul li{
	width:100%;
	padding-bottom: 90px;
	float:left;
}
div.article_list li img{
	float:left;
	width:153px;
	height:137px;
}
div.article_list li div.article{
	float:right;
	width:75%;
	color:#171717;
}
div.article_list li div.article  a:link,div.article_list li div.article  a:visited{
	color: #171717;
  	font-size: 21px;
  	font-weight: 600;
}
div.article_list li div.article div.article_time{
	font-size: 13px;
	margin-top:8px;
}
div.article_list li div.article div.sum{
	margin: 20px 0px 24px 0px;
}
div.article_list li div.article div.sum p a{
	position: relative;
    left: -14px;
    background-color: white;
}
div.article_list li div.article a.readmore{
	margin-top: 10px;
}
div.article_list li div.article a.readmore:link,div.article_list li div.article a.readmore:visited{
	background: #171717 url(images/arrow.png) 100% 50% no-repeat;
	color:#fff;
	padding:5px 25px 5px 10px;
	font-size: 18px;
    font-weight: 100;
}
div.article_page a:link,div.article_page a:visited{
	color: #529dd3;
}
div.article_page {
  	margin: 0px 0px 15px 293px;
}