div.lists{
	width:90%;
	height:2280px;
	margin:0 auto;
	background-color: #ffffff;
}
div.article_list{
	width: 79%;
    height: 90%;
    margin: 0 auto !important;
}
div.article_list ul{
 	height: 100%;
}